<ion-app>


    <ion-menu contentId="mainContent" side="end" type="overlay">
        <ion-header>
            <ion-toolbar>
                <ion-title class="text-right">القائمة</ion-title>

                <ion-buttons slot="end">
                    <ion-menu-toggle>
                        <ion-button>
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-menu-toggle>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
                    <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath===p.url">
                        {{p.title}}
                    </ion-item>
                </ion-menu-toggle>

                <ion-button expand="full" color="danger" (click)="signOut()">تسجيل الخروح
                    <ion-icon name="log-out" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-list>
        </ion-content>
    </ion-menu>


    <ion-router-outlet id="mainContent" main>
    </ion-router-outlet>

</ion-app>